@import url('http://fonts.cdnfonts.com/css/gt-walsheim');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'GT Walsheim', sans-serif;
    background-color: #FCFCFC;
    height: 100vh;

}

#content-container {
    width: calc(100% - 60px);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    background-color: white;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

#content-container-inner {
    padding: 30px 50px;
}

#paymentTitle {
    max-width: 1440px;
    margin-top: 30px;
    width: calc(100% - 60px);
    margin-left: auto;
    margin-right: auto;
}

#paymentTitleInner {
    padding: 30px;
    padding-bottom: 0;
    padding-top: 0;
}

#paymentTitle p {
    font-size: 1.5em;
}

#cal-max-width {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#input-flex {
    display: flex;
    flex-direction: row;
    width: fit-content;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: row;
    width: calc(100% - 60px);
    height: 100% - 30px;
    margin-bottom: 60px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;
    border-radius: 30px;
    background-color: white;
}

#infoFlex {
    background-color: white;
    width: calc(48% - 60px);
    border-radius: 30px;
    padding: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.infoRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infoRow-one-to-one {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infoFlexRight {
    margin-right: 10px;
}

.ppFontSize {
    font-size: 1.5em;
}

.dpFontSize {
    font-size: 1.5em;
}

.nyFontSize {
    font-size: 1.5em;
}

#resFee {
    font-size: 1.5em;
}

#depositValue {
    font-size: 1.5em;
}

#monthlyFee {
    font-size: 1.5em;
}

.form__field {
    width: 150px;
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    color: black;
    margin: 0;
    padding: unset;
    background: transparent;
    transition: border-color 0.2s;
    text-align: center;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: black;
}

.form__label:focus .form__field {
    border-bottom: 2px solid #D6A53F;
}

.infoRow-bellow {
    display: flex;
    flex-direction: column;
}

#infoFlexInner {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-around;
}

#result-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(48% - 60px);
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#dailyAmountValue {
    text-align: center;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 3em;
}

#deposit-input {
    width: 100%;
}

/* CSS */
.button-86 {
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: auto;
    margin-right: auto;
}

.button-86::after,
.button-86::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}

.button-86::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #D6A53F;
    border-radius: 10px;
}

.button-86::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
}

.button-86:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.button-86:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.button-86:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}

.select {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 130px;
    height: 40px;
}

.option {
    padding: 0 30px 0 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
    background: white;
    border-top: #222 solid 1px;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    order: 2;
    z-index: 1;
    transition: background .4s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 2px solid gray;
}

.option:hover {
    background: #D6A53F;
}

.select:focus .option {
    position: relative;
    pointer-events: all;
}

.non-input input {
    opacity: 0;
    position: absolute;
    left: -99999px;
}

.non-input input:checked+label {
    order: 1;
    z-index: 2;
    background: white;
    border-top: none;
    position: relative;
}

.non-input input:checked+label:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position: absolute;
    right: 10px;
    top: calc(50% - 2.5px);
    pointer-events: none;
    z-index: 3;
}

.non-input input:checked+label:before {
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    content: '';
    background: white;
}

.non-input .select-1 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 130px;
    height: 40px;
}

.select-1:focus .option {
    position: relative;
    pointer-events: all;
}